name: Main

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.1

      - name: Build
        run: CGO_ENABLED=0 go build -ldflags="-X 'main.Version=${{ github.ref_name }}'" -o bin/mongodb-monitoring -v .

      - name: Test
        run: go test -v .

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: bin/mongodb-monitoring
          fail_on_unmatched_files: true
          generate_release_notes: true
